<app-header></app-header>

<div class="container text-center">
  <form (ngSubmit)="onSubmitEditUser()" [formGroup]="userForm">
    <div class="form-group">
      <label for="firstname">
        Prénom
      </label>
      <input type="text" id="firstname" class="form-control" formControlName="firstname">
    </div>
    <div class="form-group">
      <label for="lastname">
        Nom
      </label>
      <input type="text" id="lastname" class="form-control" formControlName="lastname">
    </div>
    <div class="form-group">
      <label for="email">
        Email
      </label>
      <input type="text" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">
        Password
      </label>
      <input type="password" id="password" class="form-control" formControlName="password">
    </div>

    <button class="btn btn-primary float-lg-end mt-2" [disabled]="userForm.invalid">Modifier</button>
    <a routerLink="/books" class="btn btn-dark text-uppercase float-start mt-2">Retour</a>
  </form>
</div>
